{% extends 'base.html' %}
{% load static %}
{% load sidebar %}
{% block title%}Course single{% endblock %}

{% block content %}


<section class="site-hero site-sm-hero overlay" data-stellar-background-ratio="0.5"
         style="background-image:url({% static 'images/xbig_image_2.jpg.pagespeed.ic.d0K7QMgYm1.jpg' %})">
    <div class="container">
        <div class="row align-items-center justify-content-center site-hero-sm-inner">
            <div class="col-md-7 text-center">
                <div class="mb-5 element-animate">
                    <h1 class="mb-2">Advanced JavaScript Learning</h1>
                    <p class="bcrumb"><a href="index-2.html">Home</a> <span
                            class=""></span> <a href="courses.html">Course</a> <span
                            class=""></span> <span class="current">Advanced JavaScript Learning</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="site-section bg-light element-animate">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8 order-md-2 mb-5">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ course.image.url }}" alt="" class="img-fluid">
                    </div>
                </div>
                <section class="episodes">
                    <div class="container">
                        <div class="row mb-5">
                            <div class="col-md-12 pt-5">
                                <h2>Description</h2>
                                <ul>
                                    {{ courses.description|safe }}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <h2>Lesson</h2>
                            </div>
                        </div>
                        {% for i in lessons %}
                        <div class="row bg-light align-items-center p-4 episode">
                            <div class="col-md-10">
                                <p class="meta">Episode 1 <a href="#">Runtime {{ i.duration }}</a></p>
                                <h2><a href="{% url 'course:lesson-single' courses.id i.id%}">{{ i.title }}</a></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, fugit!</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <a href="{{" class="play"><span class="ion-ios-play"></span></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>


            <div class="col-md-6 col-lg-4 order-md-1">
                <div class="block-29 mb-5">
                    <h2 class="heading">Course Details</h2>
                    <ul>
                        {{ courses.detail|safe }}
                     </ul>
                </div>
                <div class="block-28 text-center mb-5">
                    <figure>
                        <img src="{% static 'images/xperson_3.jpg.pagespeed.ic.N-Y7EFB5Lm.jpg' %}" alt="" class="img-fluid">
                    </figure>
                    <h2 class="heading">Mark Stewart</h2>
                    <h3 class="subheading">JavaScript Ninja</h3>
                    <p>
                        <a href="#" class="fa fa-twitter p-2"></a>
                        <a href="#" class="fa fa-facebook p-2"></a>
                        <a href="#" class="fa fa-linkedin p-2"></a>
                    </p>
                    <p>Hi I'm Mark Stewart, consectetur adipisicing elit. Quibusdam nulla beatae modi itaque nemo magni
                        molestiae explicabo sint dolorum cum! Nam iste eligendi autem voluptates illo veritatis veniam
                        laudantium enim!</p>
                </div>
                <div class="block-25 mb-5">
                    <div class="heading">Recent Courses</div>
                    <ul>
                        <li>
                            <a href="#" class="d-flex">
                                <figure class="image mr-3">
                                    <img src="{% static 'images/ximg_2_b.jpg.pagespeed.ic.1EVzxMENVy.jpg' %}" alt="" class="img-fluid">
                                </figure>
                                <div class="text">
                                    <h3 class="heading">Create cool websites using this template</h3>
                                    <span class="meta">$34</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex">
                                <figure class="image mr-3">
                                    <img src="{% static 'images/ximg_2_b.jpg.pagespeed.ic.1EVzxMENVy.jpg' %}" alt="" class="img-fluid">
                                </figure>
                                <div class="text">
                                    <h3 class="heading">Create cool websites using this template</h3>
                                    <span class="meta">$34</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="d-flex">
                                <figure class="image mr-3">
                                    <img src="{% static 'images/ximg_2_b.jpg.pagespeed.ic.1EVzxMENVy.jpg' %}" alt="" class="img-fluid">
                                </figure>
                                <div class="text">
                                    <h3 class="heading">Create cool websites using this template</h3>
                                    <span class="meta">$34</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-24 mb-5">
                    <h3 class="heading">Categories</h3>
                    {% sidebar_categories as sidebar_categories %}
                    <ul>
                        {% for obj in sidebar_categories %}
                        <li><a href="#">{{ obj.title }} <span>{{ obj.course_set.all.count }}</span></a></li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="block-26">
                    <h3 class="heading">Tags</h3>
                    {% sidebar_tags as sidebar_tags %}
                    <ul>
                        {% for tag in sidebar_tags %}
                        <li><a href="#">{{ tag.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-7 text-left section-heading">
                <h2 class="text-primary heading">You May Also Like</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore
                    sapiente.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid block-11 element-animate">
        <div class="nonloop-block-11 owl-carousel">
            <div class="item">
                <div class="block-19">
                    <figure>
                        <img src="{% static 'images/ximg_1.jpg.pagespeed.ic.KIyGb7wpaA.jpg' %}" alt="Image" class="img-fluid">
                    </figure>
                    <div class="text">
                        <h2 class="heading"><a href="#">Advanced JavaScript Learning</a></h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint
                            eveniet tempore sapiente.</p>
                        <div class="meta d-flex align-items-center">
                            <div class="number">
                                <span>2,219/6,000</span>
                            </div>
                            <div class="price text-right">
                                <del class="mr-3">$23</del>
                                <span>Free</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block-19">
                    <figure>
                        <img src="{% static 'images/ximg_3.jpg.pagespeed.ic.0lCd2IWXpU.jpg' %}" alt="Image" class="img-fluid">
                    </figure>
                    <div class="text">
                        <h2 class="heading"><a href="#">Advanced JavaScript Learning</a></h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint
                            eveniet tempore sapiente.</p>
                        <div class="meta d-flex align-items-center">
                            <div class="number">
                                <span>2,219/6,000</span>
                            </div>
                            <div class="price text-right">
                                <del class="mr-3">$23</del>
                                <span>Free</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block-19">
                    <figure>
                        <img src="{% static 'images/ximg_2.jpg.pagespeed.ic.Ow-u8vxHqa.jpg' %}" alt="Image" class="img-fluid">
                    </figure>
                    <div class="text">
                        <h2 class="heading"><a href="#">Introduction to CSS</a></h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint
                            eveniet tempore sapiente.</p>
                        <div class="meta d-flex align-items-center">
                            <div class="number">
                                <span>1,903/3,000</span>
                            </div>
                            <div class="price text-right"><span>$10.99</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block-19">
                    <figure>
                        <img src="{% static 'images/ximg_1.jpg.pagespeed.ic.KIyGb7wpaA.jpg' %}" alt="Image" class="img-fluid">
                    </figure>
                    <div class="text">
                        <h2 class="heading"><a href="#">Design &amp; Develop</a></h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint
                            eveniet tempore sapiente.</p>
                        <div class="meta d-flex align-items-center">
                            <div class="number">
                                <span>23/100</span>
                            </div>
                            <div class="price text-right">
                                <del class="mr-3">$23</del>
                                <span>Free</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block-19">
                    <figure>
                        <img src="{% static 'images/ximg_1.jpg.pagespeed.ic.KIyGb7wpaA.jpg' %}" alt="Image" class="img-fluid">
                    </figure>
                    <div class="text">
                        <h2 class="heading"><a href="#">Advanced JavaScript Learning</a></h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint
                            eveniet tempore sapiente.</p>
                        <div class="meta d-flex align-items-center">
                            <div class="number">
                                <span>2,219/6,000</span>
                            </div>
                            <div class="price text-right">
                                <del class="mr-3">$23</del>
                                <span>Free</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block-19">
                    <figure>
                        <img src="{% static 'images/ximg_3.jpg.pagespeed.ic.0lCd2IWXpU.jpg' %}" alt="Image" class="img-fluid">
                    </figure>
                    <div class="text">
                        <h2 class="heading"><a href="#">Advanced JavaScript Learning</a></h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint
                            eveniet tempore sapiente.</p>
                        <div class="meta d-flex align-items-center">
                            <div class="number">
                                <span>2,219/6,000</span>
                            </div>
                            <div class="price text-right">
                                <del class="mr-3">$23</del>
                                <span>Free</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block-19">
                    <figure>
                        <img src="{% static 'images/ximg_2.jpg.pagespeed.ic.Ow-u8vxHqa.jpg' %}" alt="Image" class="img-fluid">
                    </figure>
                    <div class="text">
                        <h2 class="heading"><a href="#">Introduction to CSS</a></h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint
                            eveniet tempore sapiente.</p>
                        <div class="meta d-flex align-items-center">
                            <div class="number">
                                <span>1,903/3,000</span>
                            </div>
                            <div class="price text-right"><span>$10.99</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block-19">
                    <figure>
                        <img src="{% static 'images/ximg_1.jpg.pagespeed.ic.KIyGb7wpaA.jpg' %}" alt="Image" class="img-fluid">
                    </figure>
                    <div class="text">
                        <h2 class="heading"><a href="#">Design &amp; Develop</a></h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint
                            eveniet tempore sapiente.</p>
                        <div class="meta d-flex align-items-center">
                            <div class="number">
                                <span>23/100</span>
                            </div>
                            <div class="price text-right">
                                <del class="mr-3">$23</del>
                                <span>Free</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'subscribe.html' %}

{% endblock %}